<% provide(:title, "Home") %>
<% if logged_in_jobseeker? %>
  <body class = "jobseeker-body-grey">
    <div class="container-jobseeker">
      <div class="card border-0 shadow my-5 container-padding">
        <div class="text-surround">
          <h1>Welcome back <span class="bold"><%= Jobseeker.find(current_jobseeker.id).name %>!</span></h1>
          <h2>QuikJob allows you to find jobs with a simple click of a button!</h2>
          <hr>
          <div class="main-text">To match with more jobs please add some more skills to your profile. 
            You can do that by clicking <%= link_to "here.", jobseeker_edit_skills_path(:id => current_jobseeker.id) %>
              <div class = "homepage-card card-left">
                <h1>Match with Jobs</h1>
                <hr>
                <span>Match to find jobs with the skills you have!<br><span class="italics"><%= link_to "Click here to see more!", match_jobseeker_path %></span></span>
              </div>
              <div class = "homepage-card card-right">
                <h1>Search Jobs</h1>
                <hr>
                <span>Looking to find jobs with specific skills?<br><span class="italics"><%= link_to "Click here to see more!", search_path %></span></span>
              </div>
              <div style="height: 35%"></div>
          </div>
          <hr>
          <form>
          </form>
          <div class = "italics">To find out more about us click here: <%= link_to "About", about_path %></div>
          <div class = italics>To contact us: <%= link_to "Contact", contact_path %></div>
        </div>
      </div>
    </div>
  </body>
<% elsif logged_in_employer? %>
  <body class = "employer-body-grey">
    <div class="container-employer">
      <div class="card border-0 shadow my-5 container-padding">
        <div class="text-surround">
          <h1>Welcome back <span class="bold"><%= Employer.find(current_employer.id).name %>!</span></h1>
          <h2>QuikJob is your quick way to find employees!</h2>
          <hr>
          <div class="main-text">
            <div class = "homepage-card card-left">
              <h1>Post Job</h1>
              <hr>
              Post some jobs to find potential staff.<br><span class="italics"><%= link_to "Click here to post one!", create_job_path %></span>
            </div>
            <div class = "homepage-card card-right">
              <h1>View Profile</h1>
              <hr>
              View profile to see posted jobs.<br><span class="italics"><%= link_to "Click here to view!", current_employer %></span>
            </div>
            <div style="height: 35%"></div>
          </div>
          <hr>
          <div class = "italics">To find out more about us click here: <%= link_to "About", about_path %></div>
          <div class = italics>To contact us: <%= link_to "Contact", contact_path %></div>
        </div>
      </div>
    </div>
  </body>
<% else %>
  <div class="split left">
    <div class="centered">
      <%= link_to "Looking for Jobs?", 'jobseeker_signup', class: "btn btn-lg btn-primary signup-btn-jobseeker" %>
      <hr>
      <div class="surround-url">Already registered? <%= link_to "Login as Job Seeker!", login_path(:membertype => "jobseeker"), class: "signup-url" %></div>
    </div>
  </div>
  <div class="split right">
    <div class="centered">
      <%= link_to "Looking for staff?", 'employer_signup', class: "btn btn-lg btn-primary signup-btn-employer" %>
      <hr>
      <div class="surround-url">Already registered? <%= link_to "Login as Employer!", login_path(:membertype => "employer"), class: "signup-url" %></div>
    </div>
  </div>
<% end %>