<% provide(:title, "Home") %>
<% if logged_in_jobseeker? %>
  <body class = "jobseeker-body-grey">
    <div class="container-jobseeker">
      <div class="card border-0 shadow my-5 container-padding">
        <div class="text-surround">
          <h1>Welcome back <span class="bold"><%= Jobseeker.find(current_jobseeker.id).name %>!</span></h1>
          <h2>QuikJob allows you to find jobs with a simple click of a button!</h2>
          <hr>
          <div class="main-text">To match with more jobs please add some more skills to your profile. 
            You can do that by clicking <%= link_to "here.", jobseeker_edit_skills_path(:id => current_jobseeker.id) %>
          </div>
          <div style="height: 700px"></div>
          <hr>
          <div class = "italics">To find out more about us click here: <%= link_to "About", about_path %></div>
          <div class = italics>To contact us: <%= link_to "Contact", contact_path %></div>
        </div>
      </div>
    </div>
  </body>
<% elsif logged_in_employer? %>
  <body class = "employer-body-grey">
    <div class="container-employer">
      <div class="card border-0 shadow my-5 container-padding">
        <div class="text-surround">
          <h1>Welcome back <span class="bold"><%= Employer.find(current_employer.id).name %>!</span></h1>
          <h2>QuikJob is your quick way to find employees!</h2>
          <hr>
          <div class="main-text">Post some jobs to find potential staff.
          You can do that by clicking: <%= link_to "Post a Job", create_job_path %>
          </div>
          <div style="height: 700px"></div>
          <hr>
          <div class = "italics">To find out more about us click here: <%= link_to "About", about_path %></div>
          <div class = italics>To contact us: <%= link_to "Contact", contact_path %></div>
        </div>
      </div>
    </div>
  </body>
<% else %>
  <div class="split left">
    <div class="centered">
      <%= link_to "Looking for Jobs?", 'jobseeker_signup', class: "btn btn-lg btn-primary signup-btn-jobseeker" %>
      <hr>
      <div class="surround-url">Already registered? <%= link_to "Login as Jobseeker!", login_path(:membertype => "jobseeker"), class: "signup-url" %></div>
    </div>
  </div>
  <div class="split right">
    <div class="centered">
      <%= link_to "Looking for staff?", 'employer_signup', class: "btn btn-lg btn-primary signup-btn-employer" %>
      <hr>
      <div class="surround-url">Already registered? <%= link_to "Login as Employer!", login_path(:membertype => "employer"), class: "signup-url" %></div>
    </div>
  </div>
<% end %>