<% provide(:title, "Login") %>
<% if !logged_in_employer? && !logged_in_jobseeker? %>
<% if @membertype == "jobseeker" %>
<body class = "jobseeker-body">
  <div class = "outer-container-login">
    <div class = "jobseeker-login-container">
      <h1>Log in as Jobseeker</h1>
<% else %>
<body class = "employer-body">
  <div class = "outer-container-login">
    <div class = "employer-login-container">
      <h1>Log in as Employer</h1>
<% end %>
      <hr>
      <%= form_for(:session, url: login_path) do |f| %>
      
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control input-session' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control input-session' %>
        
        <%= hidden_field_tag :membertype, @membertype %>
        
        <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me</span>
        <% end %>
        <br>
        <%= f.submit "Log in", class: "btn btn-primary rounded-btn" %>
      <% end %>
    </div>
  </div>
</body>
<% else %>
<h1>You are already logged in!</h1>
<% end %>