<% provide(:title, "Post a job") %>
<% if logged_in_employer? %>
  <body class = "employer-body-grey">
    <div class = "outer-container-login">
      <div class = "employer-login-container">
        <h1>Post a New Job</h1>
        <hr>
        <form class="footerform" action="create_job" method="patch">
          <label for="job_name">Add Skills:</label>
          <%= hidden_field_tag :form_action, "skill_add" %>
          <% if @filter %>
            <% @filter.each do |filter| %>
              <%= hidden_field_tag "skill_ids[]", filter.id %>
              <li><%= filter.name %></li>
            <% end %>
          <% end %>
          <%= select_tag "skill_id", options_from_collection_for_select(Skill.all, "id", "name") %>
          <%= submit_tag "Add", class: "btn btn-sm btn-primary rounded-btn" %>
        </form>
        <%= form_for(@job, url: create_job_path) do |f| %>
          <%= render 'shared/job_error_messages' %>
          
          <% if @filter %>
            <label for="job_skills">Skills:</label>
            <% @filter.each do |filter| %>
              <%= hidden_field_tag "skills[]", filter.id %>
            <% end %>
          <% end %>
          
          <%= f.label :name %>
          <%= f.text_field :name %>
    
          <%= f.label :info %>
          <%= f.text_area :info %>
          
          <%= f.label :requirements %>
          <%= f.text_area :requirements %>
          
          <hr>
          <%= f.submit "Post this job!", class: "btn btn-success rounded-btn" %>
        <% end %>
      </div>
    </div>
  </body>
<% else %>
  <div class="center jumbotron">
    <h1>You are not logged in!</h1>
    <h2>
        You are not logged in as an employer. Please log in below or return to the home page. 
    </h2>
      <%= link_to "Login as Employer", login_path(:membertype => "employer"), class: "btn btn-md btn-success signup-button rounded-btn" %>
      <%= link_to "Go To Homepage", root_path, class: "btn btn-md btn-primary signup-button" %>
    </div>
  </div>
<% end %> 