<h1>
  Job's Position: <%= @job.name %>
</h1>
<h1>
  Posted By: <%= link_to Employer.find(@job.employer_id).name, Employer.find(@job.employer_id) %>
</h1>
<h1>
  Information: <%= @job.info %>
</h1>
<h1>
  Requirements: <%= @job.requirements %>
</h1>

<div>
<h1>Skill Requirements:</h1>
  <% @job.skills.each do |skill| %>
    <h1><%= skill.name %></h1>
    <br>
  <% end %>
</div>
