<% provide(:title, @job.name) %>
<h1>
  Job's Position: <%= @job.name %>
</h1>
<h1>
  Posted By: <%= link_to Employer.find(@job.employer_id).name, Employer.find(@job.employer_id) %>
</h1>
<h1>
  Information: <%= @job.info %>
</h1>
<h1>
  Requirements: <%= @job.requirements %>
</h1>

<div>
<h1>Skill Requirements:</h1>
  <% @job.skills.each do |skill| %>
    <h1><%= skill.name %></h1>
    <br>
  <% end %>
</div>

<% if current_jobseeker %>
<% matched_job(@job, current_jobseeker) %>
<% if !is_applied(@job, current_jobseeker.id) %>
<h1>This job matches you!</h1>
<%= link_to "Apply!", job_apply_path(:user_id => current_jobseeker.id, :job_id => @job.id), class: "btn btn-lg btn-success", :method => :post %>
<% else %>
<h1>You've applied for this job!</h1>
<% end %>
<% end %>

<% if current_employer && current_employer == @job.employer %>
<% if @job.available %>
<h1>Applicant List:</h1>
  <% @job.jobseekers.each do |jobseeker| %>
    <h3><%= link_to jobseeker.name, jobseeker %> <%= link_to "Send Offer!", job_offer_path(:user_id => jobseeker.id, :job_id => @job.id), class: "btn btn-lg btn-success", :method => :post %></h3>
    <br>
  <% end %>
</div>
  <%= link_to "Find Match!", match_employer_path(:job_id => @job.id), class: "btn btn-lg btn-primary" %>
  <%= link_to "Close Job", job_close_path(:job_id => @job.id), class: "btn btn-lg btn-danger" , :method => :post %>
<% else %>
<h1>This job has been closed!</h1>
<%= link_to "Re-open Job", job_reopen_path(:job_id => @job.id), class: "btn btn-lg btn-success" , :method => :post %>
<% end %>
<% end %>