<% provide(:title, "Edit Skills") %>
<body class = "jobseeker-body-grey">
  <div class="card border-0 shadow my-5 container-padding">
    <div class="container-edit-skills">
      <h1>Edit your skills</h1>
      <hr>
      <div class = "bold main-text-size">Skills:</div>
      <% @jobseeker.skills.each do |skill| %>
        <%= skill.name %>
        <%= link_to "X", jobseeker_skill_delete_path(:id => @jobseeker.id, :skill_id => skill.id), :method => :post %>
        <br>
      <% end %>
      <hr>
      <%= form_for @jobseeker, :url => jobseeker_add_skills_path do |f| %>
        <%= hidden_field_tag :id, @jobseeker.id %>
        <%= f.label "Skill List:", class: "main-text-size" %>
        <%= select_tag "skills", options_from_collection_for_select(Skill.all, "id", "name") %>
        <%= f.submit "Add", class: "btn btn-primary rounded-btn" %>
        <br>
      <% end %>
      <hr>
      <%= form_for @jobseeker, :url => jobseeker_add_skills_path do |f| %>
        <%= hidden_field_tag :id, @jobseeker.id %>
        <%= hidden_field_tag :form_action, "custom" %>
        <%= f.label "Custom skill:", class: "main-text-size"%>
        <%= f.text_field :custom_skill %> 
        <%= f.submit "Add", class: "btn btn-primary rounded-btn" %>
        <br>
      <% end %>
      <hr>
      <%= form_for jobseeker_edit_skills_path do |f| %>
        <%= hidden_field_tag :id, @jobseeker.id %>
        <%= f.submit "Confirm", class: "btn btn-success rounded-btn" %>
      <% end %>
    </div>
  </div>
</body>