<% provide(:title, "Edit Profile") %>
<body class = "jobseeker-body-grey">
  <div class="card border-0 shadow my-5 container-padding">
    <div class="container-edit-skills mobile-container">
      <h1>Edit your profile</h1>
      <hr>
      <%= form_for(@jobseeker) do |f| %>
        <%= render 'shared/jobseeker_error_messages' %>
      
        <%= f.label :name %>
        <%= f.text_field :name %>
  
        <%= f.label :email %>
        <%= f.email_field :email %>
        
        <%= f.label :description %>
        <%= f.text_area :description %>
        
        <%= f.label :pdf, "Upload PDF" %>
        <%= f.file_field(:pdf, accept: '.pdf') %>
      
        <%= f.label :password %>
        <%= f.password_field :password %>
  
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
        <hr>
        <%= f.submit "Confirm", class: "btn btn-success rounded-btn" %>
      <% end %>
    </div>
  </div>
</body>