<% provide(:title, "Edit Skills") %>
<h1>Edit your skills</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for jobseeker_edit_skills_path(:id => @jobseeker.id) do |f| %>
     <%= hidden_field_tag :id, @jobseeker.id %>
      <%= f.label "Skills:" %>
      <% Skill.all.each do |skill| %>
        <%= check_box_tag "skills[]", skill.id, @jobseeker.skill_ids.include?(skill.id) %>
        <%= skill.name %>
      <% end %>
      <%= f.submit "Confirm", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>