<% provide(:title, "Profile Page") %>
<body class = "jobseeker-body-grey">
  <div class="container-jobseeker">
    <div class="card border-0 shadow my-5 container-padding">
      <div class="text-surround">
        <h1><span class="bold">
          Name: <%= @jobseeker.name %></span>
          <br>
          Email: <%= @jobseeker.email %>
        </h1>
        <hr>
        <div class="main-text">
          <span class = italics>
            <span class="bold">Bio:<br></span>
            <%= @jobseeker.description %>
            <%= @jobseeker.pdf_url().to_s %>
            <br>
          </span>
        </div>
        <div class="profile-skills-container">
        <span class="bold">Skills:</span>
        <div class="spacer"></div>
        <ul>
          <% @jobseeker.skills.each do |skill| %>
              <li><%= skill.name %></li>
          <% end %>
        </ul>
        </div>
        <hr>
      </div>
    </div>
  </div>
</body>