<% provide(:title, "Employer Signup") %>
<body class = "employer-body">
  <div class = "outer-container-login">
    <div class = "employer-login-container">
      <h1>Sign up as an Employer!</h1>
      <hr>
      <%= form_for(@employer, url: employer_signup_path) do |f| %>
        <%= render 'shared/employer_error_messages' %>
        
        <%= f.label :name %>
        <%= f.text_field :name %>
  
        <%= f.label :email %>
        <%= f.email_field :email %>
  
        <%= f.label :info %>
        <%= f.text_area :info %>
        
        <%= f.label :password %>
        <%= f.password_field :password %>
  
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
  
        <%= f.submit "Create my account", class: "btn btn-primary rounded-btn" %>
      <% end %>
    </div>
  </div>
</body>