<% provide(:title, "Jobseeker Matches") %>
<h1>Your matching jobs!</h1>
<h3>
    List of matching jobs (<%= @list_matches.count %>):
    <hr>
    <div class = "row">
        <% @sorted.each do |key, value| %>
            <%= link_to key do %>
            <div class="col-lg-4 col-sm-6 mb-4 outer-container">
                <div class="card-body-jobs">
                  <div class="card-title">
                    <%= key.name%>
                  </div>
                  <hr class = "card-line">
                  <div class="card-text"><%= key.info %></div>
                  <div class = "card-poster italics">
                      <span class="bold">Posted by: </span><%= key.employer.name %>
                  </div>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
</h3>

