<header class="navbar navbar-fixed-top navbar-inverse">
    
      <div class="container">
          
        <%= link_to "QuikJob", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <% if logged_in_employer? %>
              <li><%= link_to "Post a Job", create_job_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <%= current_employer.name %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_employer %></li>
                  <li><%= link_to "Edit Profile", edit_employer_path(current_employer.id) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% end %> 
            <% if logged_in_jobseeker? %>
              <li>
                <%= link_to "Matched Jobs", match_jobseeker_path %>
              </li>
              <li>
                <%= link_to "Search Jobs", search_path %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <%= current_jobseeker.name %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_jobseeker %></li>
                  <li><%= link_to "Edit Profile", edit_jobseeker_path(current_jobseeker.id) %></li>
                   <li>
                     <%= link_to "Edit Skills", jobseeker_edit_skills_path(:id => current_jobseeker.id) %>
                   </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% end %> 
            <% if logged_in_employer? || logged_in_jobseeker? %>
            <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Login
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Job Seeker", login_path(:membertype => "jobseeker")%></li>
                <li><%= link_to "Employer", login_path(:membertype => "employer")%></li>
              </ul>
          </li>
          <% end %> 
          </ul>
        </nav>
      </div>
</header>